{% schema %}
{
  "name": "Banner Slider",
  "max_blocks": 7,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL do link"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  .banner-slider {
    position: relative;
    background: #000;
    width: 100%;
    height: calc(100vh - 80px);
  }
</style>

<div class="banner-slider">
  {% for block in section.blocks %}
    <div class="slide">
      {% if block.settings.link %}
        <a href="{{ block.settings.link }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
        </a>
      {% else %}
        <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
      {% endif %}
    </div>
  {% endfor %}
</div>
