{%- style -%}
  .featured-text {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5em;
    color: #323236;
    text-align: center;
    background-color: #fcfdf7;
  }
{%- endstyle -%}

<div class="featured-text">
  <p>Ofertas e Lançamentos</p>
</div>

{% schema %}
{
  "name": "Featured text",
  "settings": [],
  "presets": [{ "name": "Featured text" }]
}
{% endschema %}
